body {
    display: flex;
    margin: 0;
    height: 100vh;
}

.box-left, .box-right {
    flex: 1;                
    font-weight: bold;     
    font-size: 2rem;       
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-left {
    background-color: #ff5733; 
    color: white;
}

.box-right {
    background-color: #33c1ff;
    color: white;
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column; 
    }

    .box-left, .box-right {
        width: 100%;
        height: 50vh;
    }
}